.body{
    background-color: cadetblue;
}
/*input*/
.valor {
    width: 20%;
    margin-left: 9.6%;
}

.entrada {
    width: 20%;
    margin-left: 7.6%;
}

.nParcelas {
    width: 20%;
}

.tJuros {
    width: 20%;
    margin-left: 4.4%;
}
/*menu*/
.menu{
    width: 100%;
}
/*Form*/
.divForm{
    padding-top: 10%;
}
.form{
    background-color: #ffc33f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    padding-bottom: 4%;
}
/*botoes do fomulario*/
.botoes{
    margin-top: 2%;
    width: 49.38%;
}
.btn-group{
    margin-top: 4%;
}
/*tabela*/
table {
    width: 100%;
    border: 1px solid black;
}

table th {
    background-color: #000000;
    color: #fff;
}

table td {
    background-color: #f0f0f0;
    color: #0c0c0c;
}
