.body{
    background-color: #ecf0f1;
}
/*navbar*/
.div-navbar{
    text-align: center;
}
.navbar{
    border-radius: 5px;
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #2c3e50;
}
.nav-price{

}
.nav-sac{

}
/*input*/
.valor {
    width: 20%;
    margin-left: 9.6%;
}

.entrada {
    width: 20%;
    margin-left: 7.6%;
}

.nParcelas {
    width: 20%;
}

.tJuros {
    width: 20%;
    margin-left: 4.4%;
}

/*card instruções*/
@media (min-width: 992px){
    .card{
        width: 75%;
        margin-left: 52px;
        margin-right: 20%;
        margin-top: 15px;
    }
}
@media (max-width: 540px){
    .card{
        width: 80%;
        margin-left: 30px;
        margin-right: 20%;
        margin-top: 15px;
    }
}
.title-instr{

}

/*Form*/
.div-form{
    padding-top: 10%;
}
.div-campo{
    padding-top: 2%;
}
.form{
    background-color: #bdc3c7;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    margin-top: 4%;
    border-radius: 10px;
    padding-bottom: 4%;
}
.alert{
    display: none;
    width: 100%;
    height: 25%;
}
/*botoes do fomulario*/
.btn{
    margin-top: 2%;
    width: 100%;
    margin-left: 80px;
}
.btn-sac{
    background-color: #9b59b6;
    color: #f0f0f0;
}
.btn-price{
    background-color: #16a085;
    color: #f0f0f0;
}
.btn-group{
    width: 50%;
    margin-top: 4%;
}
/*tabela*/
@media (min-width: 992px){
    .div-table{
        width: 50%;
        margin-left: 20%;
        margin-right: 20%;
        display: none;
    }
}
table {
    width: 50%;
    border-collapse: separate;
    border-radius: 20px;
}

table th {
    color: #fff;
}

table td {
    background-color: #f0f0f0;
    color: #0c0c0c;
}
/*footer*/
footer{
    background-color: #7f8c8d;
    padding-bottom: 10px;
}
.a-github{
    color: #f0f0f0;
}
.footer-left{
    padding-top: 15px;
    color: #f0f0f0;
}
