.body{
    background-color: cadetblue;
}
/*input*/
.valor {
    width: 20%;
    margin-left: 9.6%;
}

.entrada {
    width: 20%;
    margin-left: 7.6%;
}

.nParcelas {
    width: 20%;
}

.tJuros {
    width: 20%;
    margin-left: 4.4%;
}
/*menu*/
.menu{
    border-radius: 5px;
    margin-top: 1%;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
/*Form*/
.div-form{
    padding-top: 10%;
}
.div-campo{
    padding-top: 2%;
}
.form{
    background-color: #ffc33f;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form{
    margin-top: 4%;
    border-radius: 10px;
    padding-bottom: 4%;
}
/*botoes do fomulario*/
.btn{
    margin-top: 2%;
    width: 100%;
    margin-left: 80px;
}

.btn-group{
    width: 50%;
    margin-top: 4%;
}
/*tabela*/
table {
    width: 100%;
    border: 1px solid black;
}

table th {
    background-color: #000000;
    color: #fff;
}

table td {
    background-color: #f0f0f0;
    color: #0c0c0c;
}
